{%extends 'base.html'%}
{%load static%}
{%block content%}
<p style="text-align: center;"><img src="{% static 'images/logo.png' %}" alt="" width="400" height="200"></p>
<p class="obq1">A customer is the most important visitor on our premises.  He is not dependent on us. We are dependent on him.  He is not an interruption in our work – he is the purpose of it.  We are not doing him a favor by serving him. He is doing us a favor by giving us the opportunity to serve him</p>
<br><br>
<p class="obq1">Welcome to Nova Luxury Dashboard. <br>Check on other tabs to continue</p>
{%endblock%}